.App {
}

.tile.is-4 {
  float: left;
  border-radius: 0;
  padding: 20px;
}

.filter-container {
  margin: 15px 0;
  p {
    float: right;
  }
}

.coin {
  figure {
    float: right;
  }
  h3 {
    margin: 5px 0 15px;
  }

  span {
    font-size: 12px;
  }

  .view-coin {
    float: right;
  }
}

.coin-page-content {
  margin: 10vh auto;

  .pm-title-col {
    padding: 0 0.75rem;
  }

  .price-movement {
    span {
      text-align: right;
    }
  }
  .back-btn {
    position: fixed;
    top: 5vh;
    right: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  .tile.is-4 {
    width: 50%;
  }
}
